# 如果要从更高级别的目录继承 .editorconfig 设置，请删除以下行
root = true

# c# 文件
[*.cs]

#### Core EditorConfig 选项 ####
charset = utf-8 

# 缩进和间距
indent_size = 4
indent_style = tab
tab_width = 4

# 新行首选项
end_of_line = LF
insert_final_newline = true
